* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrap {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  overflow: hidden;
}

#wrap > img {
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

#heading {
  background-color: black;
}

.lg-hd {
  margin-bottom: 20px;
}

.loginbox {
  position: fixed;
  top: 25%;
  left: 35%;
  /* background-color: aliceblue; */
  width: 30%;
  height: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.lg-btn {
  width: 55%;
  background-color: #fff;
  color: black;
  padding: 15px 10px;
  border-radius: 50px;
  font-weight: bold;
  margin: 20px 0;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.lg-btn:hover {
  background-color: #a8a8a8;
}

.lg-btn i {
  padding: 0 10px;
}

.or-line {
  color: #5f5f5f;
  font-weight: bold;
  font-size: 18px;
}

.or-line::before {
  content: "";
  position: absolute;
  width: 19.5%;
  border: 1px solid #5f5f5f;
  left: 57.5%;
  bottom: 47.5%;
  z-index: 1;
}

.or-line::after {
  content: "";
  position: absolute;
  width: 19.5%;
  border: 1px solid #5f5f5f;
  left: 22.5%;
  bottom: 47.5%;
  z-index: 1;
}

a {
  color: #007afc;
}

.hide {
  display: none;
}

.phone-logbox {
  position: fixed;
  top: 25%;
  left: 35%;
  width: 40%;
  height: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
}
